

body {
    color : #40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    /* cssfontstack.com  */
    /* fonts.google.com  */
}

p {
    line-height: 2;
}

h1{
    color: #66BFBF;
    /* margin: 0 auto 0 auto; */
    margin-top: 50px auto 0 auto;
    /* width: 10%; */
    font-family: 'Sacramento', cursive;
    /* 16px = 100% = 1em */
    font-size: 5.625rem;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

h3 {
    color : #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color : #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.intro{
    width: 30%;
    margin: auto;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin:100px auto 100px auto;
    /* margin: top right bottom left (like a circle) */
    text-align: left;
    line-height: 2;
    /* space b/w lines  */
}

.giphy-image {
    width: 25%;
    float: left;
    margin-right: 30px;
    
}

.chillies{
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* .giphy-para{
    clear: left;
}

.chillies-para{
    clear: right;
} */

/* .middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    border: solid 20px;
    margin-left: 260px;
}

.bottom-container {
    background-color: gold;
    width: 200px;
    height: 200px;
    border: solid 10px;
    margin-left: 500px;
} */

.pro {
    text-decoration: underline;
}

/* use display:in-line-block and visiblity:hidden and position:relative or absolute to adjust on screen */
/* relative positioning means relative to that div but absolute positioning means relative to that parent of div */
/* fixed positioning is used to fix the div there only while scrolling */

#cloud01{
    position: absolute;
    right: 300px;
    top : 40px;
}

#cloud02{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px auto;
}

/* css3buttongenerator.com */

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

.copyright-message {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}