.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.refresh-text {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  /* color: red; */
  text-align: center;
}

.refresh-section{
  text-align: center;
  padding: 3%;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.footer-text{
  font-size: 1.5rem;
}

.footer-link{
  color: #EEEEEE;
  text-decoration: underline;
}

.footer-link:hover{
  color: #b6b5b5;
}

.heart{
  color: #ff4c68;
}

.heart:hover{
  color: #ff0026;
}